.container{
    width: fit-content;
    margin: 40px auto;
    position: relative;
}

.slide {
    height: 400px;
    width: 700px;
    object-fit: cover;
    border-radius: 15px;
}

.ico-action{
    height: 60px;
    position: absolute;
}

.ico-prev{
    left: -30px;
    top: 40px;
}